<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.ula">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="tech.ula.SessionListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="tech.ula.SessionEditActivity"
            android:label="Edit Session" />

        <activity
            android:name="tech.ula.FilesystemListActivity"
            android:label="Filesystems" />

        <activity
            android:name="tech.ula.FilesystemEditActivity"
            android:label="Edit Filesystem" />

        <activity
            android:name="tech.ula.SettingsActivity"
            android:label="Settings" />

        <activity
            android:name="tech.ula.HelpActivity"
            android:label="Help" />

        <activity
            android:name="tech.ula.TermsAndConditionsActivity"
            android:label="Terms And Conditions" />

    </application>

</manifest>